@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Jost;
    src: url('/Assets/Fonts/Jost/Jost-VariableFont_wght.ttf');
}

@font-face {
    font-family: Modak;
    src: url('/Assets/Fonts/Modak/Modak-Regular.ttf');
}